[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsax' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-flex;
  line-height: 0;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.path2,
.path3,
.path4,
.path5,
.path6,
.path7,
.path8 {
  position: absolute;
}

.icon-support-bulk .path1:before {
  content: "\e900";
  opacity: 0.4;
}

.icon-support-bulk .path2:before {
  content: "\e901";
}

.icon-support-bulk .path3:before {
  content: "\e902";
}

.icon-support-line:before {
  content: "\e903";
}

.icon-add-bulk .path1:before {
  content: "\e904";
  opacity: 0.4;
}

.icon-add-bulk .path2:before {
  content: "\e905";
}

.icon-add-circle-bulk .path1:before {
  content: "\e906";
  opacity: 0.4;
}

.icon-add-circle-bulk .path2:before {
  content: "\e907";
}

.icon-add-circle-line:before {
  content: "\e908";
}

.icon-add-line:before {
  content: "\e909";
}

.icon-archive-bulk .path1:before {
  content: "\e90a";
  opacity: 0.4;
}

.icon-archive-bulk .path2:before {
  content: "\e90b";
}

.icon-archive-bulk .path3:before {
  content: "\e90c";
}

.icon-archive-line:before {
  content: "\e90d";
}

.icon-arrow-circle-down-bulk .path1:before {
  content: "\e90e";
  opacity: 0.4;
}

.icon-arrow-circle-down-bulk .path2:before {
  content: "\e90f";
}

.icon-arrow-circle-down-line:before {
  content: "\e910";
}

.icon-arrow-circle-left-bulk .path1:before {
  content: "\e911";
  opacity: 0.4;
}

.icon-arrow-circle-left-bulk .path2:before {
  content: "\e912";
}

.icon-arrow-circle-left-line:before {
  content: "\e913";
}

.icon-arrow-circle-right-bulk .path1:before {
  content: "\e914";
  opacity: 0.4;
}

.icon-arrow-circle-right-bulk .path2:before {
  content: "\e915";
}

.icon-arrow-circle-right-line:before {
  content: "\e916";
}

.icon-arrow-circle-up-bulk .path1:before {
  content: "\e917";
  opacity: 0.4;
}

.icon-arrow-circle-up-bulk .path2:before {
  content: "\e918";
}

.icon-arrow-circle-up-line:before {
  content: "\e919";
}

.icon-arrow-down-bulk .path1:before {
  content: "\e91a";
  opacity: 0.4;
}

.icon-arrow-down-bulk .path2:before {
  content: "\e91b";
}

.icon-arrow-down-line:before {
  content: "\e91c";
}

.icon-arrow-left-bulk .path1:before {
  content: "\e91d";
  opacity: 0.4;
}

.icon-arrow-left-bulk .path2:before {
  content: "\e91e";
}

.icon-arrow-left-line:before {
  content: "\e91f";
}

.icon-arrow-right-bulk .path1:before {
  content: "\e920";
  opacity: 0.4;
}

.icon-arrow-right-bulk .path2:before {
  content: "\e921";
}

.icon-arrow-right-line:before {
  content: "\e922";
}

.icon-arrow-up-bulk .path1:before {
  content: "\e923";
  opacity: 0.4;
}

.icon-arrow-up-bulk .path2:before {
  content: "\e924";
}

.icon-arrow-up-line:before {
  content: "\e925";
}

.icon-award-bulk .path1:before {
  content: "\e926";
  opacity: 0.4;
}

.icon-award-bulk .path2:before {
  content: "\e927";
}

.icon-award-bulk .path3:before {
  content: "\e928";
}

.icon-award-line:before {
  content: "\e929";
}

.icon-book-bulk .path1:before {
  content: "\e92a";
  opacity: 0.4;
}

.icon-book-bulk .path2:before {
  content: "\e92b";
}

.icon-book-bulk .path3:before {
  content: "\e92c";
}

.icon-book-bulk .path4:before {
  content: "\e92d";
}

.icon-book-line:before {
  content: "\e92e";
}

.icon-box-2-bulk .path1:before {
  content: "\e92f";
  opacity: 0.4;
}

.icon-box-2-bulk .path2:before {
  content: "\e930";
}

.icon-box-2-bulk .path3:before {
  content: "\e931";

  opacity: 0.4;
}

.icon-box-2-bulk .path4:before {
  content: "\e932";
}

.icon-box-2-bulk .path5:before {
  content: "\e933";

  opacity: 0.4;
}

.icon-box-2-bulk .path6:before {
  content: "\e934";
}

.icon-box-2-bulk .path7:before {
  content: "\e935";

  opacity: 0.4;
}

.icon-box-2-line:before {
  content: "\e936";
}

.icon-briefcase-bulk .path1:before {
  content: "\e937";
}

.icon-briefcase-bulk .path2:before {
  content: "\e938";

  opacity: 0.4;
}

.icon-briefcase-line:before {
  content: "\e939";
}

.icon-brush-bulk .path1:before {
  content: "\e93a";
}

.icon-brush-bulk .path2:before {
  content: "\e93b";

  opacity: 0.4;
}

.icon-brush-bulk .path3:before {
  content: "\e93c";
}

.icon-brush-line:before {
  content: "\e93d";
}

.icon-buildings-2-bulk .path1:before {
  content: "\e93e";
}

.icon-buildings-2-bulk .path2:before {
  content: "\e93f";

  opacity: 0.4;
}

.icon-buildings-2-bulk .path3:before {
  content: "\e940";
}

.icon-buildings-2-bulk .path4:before {
  content: "\e941";
}

.icon-buildings-2-bulk .path5:before {
  content: "\e942";
}

.icon-buildings-2-bulk .path6:before {
  content: "\e943";
}

.icon-buildings-2-line:before {
  content: "\e944";
}

.icon-cake-bulk .path1:before {
  content: "\e945";
}

.icon-cake-bulk .path2:before {
  content: "\e946";

  opacity: 0.4;
}

.icon-cake-bulk .path3:before {
  content: "\e947";
}

.icon-cake-bulk .path4:before {
  content: "\e948";
}

.icon-cake-bulk .path5:before {
  content: "\e949";
}

.icon-cake-bulk .path6:before {
  content: "\e94a";

  opacity: 0.4;
}

.icon-cake-line:before {
  content: "\e94b";
}

.icon-calendar-bulk .path1:before {
  content: "\e94c";
}

.icon-calendar-bulk .path2:before {
  content: "\e94d";

  opacity: 0.4;
}

.icon-calendar-bulk .path3:before {
  content: "\e94e";
}

.icon-calendar-bulk .path4:before {
  content: "\e94f";
}

.icon-calendar-bulk .path5:before {
  content: "\e950";
}

.icon-calendar-bulk .path6:before {
  content: "\e951";
}

.icon-calendar-bulk .path7:before {
  content: "\e952";
}

.icon-calendar-bulk .path8:before {
  content: "\e953";
}

.icon-calendar-line:before {
  content: "\e954";
}

.icon-call-bulk .path1:before {
  content: "\e955";
  opacity: 0.4;
}

.icon-call-bulk .path2:before {
  content: "\e956";
}

.icon-call-line:before {
  content: "\e957";
}

.icon-car-bulk .path1:before {
  content: "\e958";
  opacity: 0.4;
}

.icon-car-bulk .path2:before {
  content: "\e959";
}

.icon-car-bulk .path3:before {
  content: "\e95a";
}

.icon-car-bulk .path4:before {
  content: "\e95b";
}

.icon-car-line:before {
  content: "\e95c";
}

.icon-category-bulk .path1:before {
  content: "\e95d";
  opacity: 0.4;
}

.icon-category-bulk .path2:before {
  content: "\e95e";

  opacity: 0.4;
}

.icon-category-bulk .path3:before {
  content: "\e95f";
}

.icon-category-bulk .path4:before {
  content: "\e960";
}

.icon-category-line:before {
  content: "\e961";
}

.icon-chart-bulk .path1:before {
  content: "\e962";
  opacity: 0.4;
}

.icon-chart-bulk .path2:before {
  content: "\e963";
}

.icon-chart-bulk .path3:before {
  content: "\e964";
}

.icon-chart-line:before {
  content: "\e965";
}

.icon-clock-bulk .path1:before {
  content: "\e966";
  opacity: 0.4;
}

.icon-clock-bulk .path2:before {
  content: "\e967";
}

.icon-clock-line:before {
  content: "\e968";
}

.icon-coffee-bulk .path1:before {
  content: "\e969";

  opacity: 0.6;
}

.icon-coffee-bulk .path2:before {
  content: "\e96a";

  opacity: 0.4;
}

.icon-coffee-bulk .path3:before {
  content: "\e96b";
}

.icon-coffee-bulk .path4:before {
  content: "\e96c";
}

.icon-coffee-bulk .path5:before {
  content: "\e96d";
}

.icon-coffee-bulk .path6:before {
  content: "\e96e";
}

.icon-coffee-line:before {
  content: "\e96f";
}

.icon-danger-bulk .path1:before {
  content: "\e970";
  opacity: 0.4;
}

.icon-danger-bulk .path2:before {
  content: "\e971";
}

.icon-danger-bulk .path3:before {
  content: "\e972";
}

.icon-danger-line:before {
  content: "\e973";
}

.icon-direct-bulk .path1:before {
  content: "\e974";
  opacity: 0.4;
}

.icon-direct-bulk .path2:before {
  content: "\e975";
}

.icon-direct-bulk .path3:before {
  content: "\e976";
}

.icon-direct-bulk .path4:before {
  content: "\e977";
}

.icon-direct-bulk .path5:before {
  content: "\e978";
}

.icon-direct-bulk .path6:before {
  content: "\e979";
}

.icon-direct-bulk .path7:before {
  content: "\e97a";
}

.icon-direct-bulk .path8:before {
  content: "\e97b";
}

.icon-direct-line:before {
  content: "\e97c";
}

.icon-error-bulk .path1:before {
  content: "\e97d";
  opacity: 0.4;
}

.icon-error-bulk .path2:before {
  content: "\e97e";
}

.icon-error-line:before {
  content: "\e97f";
}

.icon-exit-bulk .path1:before {
  content: "\e980";
  opacity: 0.4;
}

.icon-exit-bulk .path2:before {
  content: "\e981";
}

.icon-exit-line:before {
  content: "\e982";
}

.icon-folder-open-bulk .path1:before {
  content: "\e983";
}

.icon-folder-open-bulk .path2:before {
  content: "\e984";

  opacity: 0.4;
}

.icon-folder-open-line:before {
  content: "\e985";
}

.icon-gift-bulk .path1:before {
  content: "\e986";
  opacity: 0.4;
}

.icon-gift-bulk .path2:before {
  content: "\e987";
}

.icon-gift-bulk .path3:before {
  content: "\e988";

  opacity: 0.4;
}

.icon-gift-bulk .path4:before {
  content: "\e989";

  opacity: 0.4;
}

.icon-gift-bulk .path5:before {
  content: "\e98a";


  opacity: 0.6;
}

.icon-gift-line:before {
  content: "\e98b";
}

.icon-heart-bulk .path1:before {
  content: "\e98c";
}

.icon-heart-bulk .path2:before {
  content: "\e98d";

  opacity: 0.4;
}

.icon-heart-line:before {
  content: "\e98e";
}

.icon-home-2-bulk .path1:before {
  content: "\e98f";
  opacity: 0.4;
}

.icon-home-2-bulk .path2:before {
  content: "\e990";
}

.icon-home-2-line:before {
  content: "\e991";
}

.icon-info-bulk .path1:before {
  content: "\e992";
  opacity: 0.4;
}

.icon-info-bulk .path2:before {
  content: "\e993";
}

.icon-info-bulk .path3:before {
  content: "\e994";
}

.icon-info-line:before {
  content: "\e995";
}

.icon-instagram-bulk .path1:before {
  content: "\e996";
  opacity: 0.4;
}

.icon-instagram-bulk .path2:before {
  content: "\e997";
}

.icon-instagram-bulk .path3:before {
  content: "\e998";
}

.icon-instagram-line:before {
  content: "\e999";
}

.icon-lamp-bulk .path1:before {
  content: "\e99a";
  opacity: 0.4;
}

.icon-lamp-bulk .path2:before {
  content: "\e99b";
}

.icon-lamp-line:before {
  content: "\e99c";
}

.icon-location-bulk .path1:before {
  content: "\e99d";
  opacity: 0.4;
}

.icon-location-bulk .path2:before {
  content: "\e99e";
}

.icon-location-line:before {
  content: "\e99f";
}

.icon-messages-bulk .path1:before {
  content: "\e9a0";
  opacity: 0.4;
}

.icon-messages-bulk .path2:before {
  content: "\e9a1";
}

.icon-messages-line:before {
  content: "\e9a2";
}

.icon-message-text-bulk .path1:before {
  content: "\e9a3";
  opacity: 0.4;
}

.icon-message-text-bulk .path2:before {
  content: "\e9a4";
}

.icon-message-text-bulk .path3:before {
  content: "\e9a5";
}

.icon-message-text-line:before {
  content: "\e9a6";
}

.icon-message-time-bulk .path1:before {
  content: "\e9a7";
  opacity: 0.4;
}

.icon-message-time-bulk .path2:before {
  content: "\e9a8";
}

.icon-message-time-bulk .path3:before {
  content: "\e9a9";
}

.icon-message-time-line:before {
  content: "\e9aa";
}

.icon-minus-bulk .path1:before {
  content: "\e9ab";
  opacity: 0.4;
}

.icon-minus-bulk .path2:before {
  content: "\e9ac";
}

.icon-minus-cirlce-bulk .path1:before {
  content: "\e9ad";
  opacity: 0.4;
}

.icon-minus-cirlce-bulk .path2:before {
  content: "\e9ae";
}

.icon-minus-cirlce-line:before {
  content: "\e9af";
}

.icon-minus-line:before {
  content: "\e9b0";
}

.icon-monitor-mobbile-bulk .path1:before {
  content: "\e9b1";
  opacity: 0.4;
}

.icon-monitor-mobbile-bulk .path2:before {
  content: "\e9b2";
}

.icon-monitor-mobbile-bulk .path3:before {
  content: "\e9b3";

  opacity: 0.4;
}

.icon-monitor-mobbile-line:before {
  content: "\e9b4";
}

.icon-moon-bulk .path1:before {
  content: "\e9b5";
}

.icon-moon-bulk .path2:before {
  content: "\e9b6";

  opacity: 0.4;
}

.icon-moon-line:before {
  content: "\e9b7";
}

.icon-profile-2user-bulk .path1:before {
  content: "\e9b8";
  opacity: 0.4;
}

.icon-profile-2user-bulk .path2:before {
  content: "\e9b9";
}

.icon-profile-2user-bulk .path3:before {
  content: "\e9ba";

  opacity: 0.4;
}

.icon-profile-2user-bulk .path4:before {
  content: "\e9bb";
}

.icon-profile-2user-line:before {
  content: "\e9bc";
}

.icon-profile-bulk .path1:before {
  content: "\e9bd";
  opacity: 0.4;
}

.icon-profile-bulk .path2:before {
  content: "\e9be";
}

.icon-profile-line:before {
  content: "\e9bf";
}

.icon-saved-bulk .path1:before {
  content: "\e9c0";
  opacity: 0.4;
}

.icon-saved-bulk .path2:before {
  content: "\e9c1";
}

.icon-saved-line:before {
  content: "\e9c2";
}

.icon-search-normal-bulk .path1:before {
  content: "\e9c3";
  opacity: 0.4;
}

.icon-search-normal-bulk .path2:before {
  content: "\e9c4";
}

.icon-search-normal-line:before {
  content: "\e9c5";
}

.icon-shield-tick-bulk .path1:before {
  content: "\e9c6";
  opacity: 0.4;
}

.icon-shield-tick-bulk .path2:before {
  content: "\e9c7";
}

.icon-shield-tick-line:before {
  content: "\e9c8";
}

.icon-shop-bulk .path1:before {
  content: "\e9c9";
  opacity: 0.4;
}

.icon-shop-bulk .path2:before {
  content: "\e9ca";
}

.icon-shop-bulk .path3:before {
  content: "\e9cb";


  opacity: 0.6;
}

.icon-shop-bulk .path4:before {
  content: "\e9cc";


  opacity: 0.6;
}

.icon-shop-bulk .path5:before {
  content: "\e9cd";
}

.icon-shop-line:before {
  content: "\e9ce";
}

.icon-smileys-bulk .path1:before {
  content: "\e9cf";
  opacity: 0.4;
}

.icon-smileys-bulk .path2:before {
  content: "\e9d0";
}

.icon-smileys-bulk .path3:before {
  content: "\e9d1";
}

.icon-smileys-bulk .path4:before {
  content: "\e9d2";
}

.icon-smileys-bulk .path5:before {
  content: "\e9d3";
}

.icon-smileys-bulk .path6:before {
  content: "\e9d4";
}

.icon-smileys-line:before {
  content: "\e9d5";
}

.icon-sms-bulk .path1:before {
  content: "\e9d6";
  opacity: 0.4;
}

.icon-sms-bulk .path2:before {
  content: "\e9d7";
}

.icon-sms-line:before {
  content: "\e9d8";
}

.icon-sun-bulk .path1:before {
  content: "\e9d9";
  opacity: 0.4;
}

.icon-sun-bulk .path2:before {
  content: "\e9da";
}

.icon-sun-line:before {
  content: "\e9db";
}

.icon-telegram-bulk .path1:before {
  content: "\e9dc";
  opacity: 0.4;
}

.icon-telegram-bulk .path2:before {
  content: "\e9dd";
}

.icon-telegram-bulk .path3:before {
  content: "\e9de";
}

.icon-telegram-line:before {
  content: "\e9df";
}

.icon-tick-bulk .path1:before {
  content: "\e9e0";
  opacity: 0.4;
}

.icon-tick-bulk .path2:before {
  content: "\e9e1";
}

.icon-tick-line:before {
  content: "\e9e2";
}

.icon-truck-bulk .path1:before {
  content: "\e9e3";
}

.icon-truck-bulk .path2:before {
  content: "\e9e4";

  opacity: 0.4;
}

.icon-truck-bulk .path3:before {
  content: "\e9e5";
}

.icon-truck-bulk .path4:before {
  content: "\e9e6";
}

.icon-truck-bulk .path5:before {
  content: "\e9e7";
}

.icon-truck-line:before {
  content: "\e9e8";
}

.icon-video-circle-bulk .path1:before {
  content: "\e9e9";
  opacity: 0.4;
}

.icon-video-circle-bulk .path2:before {
  content: "\e9ea";
}

.icon-video-circle-line:before {
  content: "\e9eb";
}

.icon-whatsapp-bulk .path1:before {
  content: "\e9ec";
  opacity: 0.4;
}

.icon-whatsapp-bulk .path2:before {
  content: "\e9ed";
}

.icon-whatsapp-line:before {
  content: "\e9ee";
}