/* Root
=========================================================================*/

/* fonts */

.font-yekanbakh {
    font-family: 'Yekanbakh';
}

.font-pinar {
    font-family: 'Pinar';
}

.font-poppins {
    font-family: 'Poppins';
}

/* section */

.section-title {
    &__icon {

        span[class^="icon-"],
        span[class*=" icon-"] {
            font-size: 52px;
        }
    }
}

/* lists */

ul {
    list-style: none;
    padding: 0;
}

/* divider */
.divider {
    width: 64px;
    height: 6px;
}

/* switch */
.form-switch {
    padding-left: 0;
    padding-right: 2.8em;

    .form-check-input,
    .form-check-input:focus {
        float: right;
        margin-right: -2.8em;
        box-shadow: none;
        background-color: var(--bs-gray-500);
        border-color: var(--bs-gray-500);
        background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' ><circle r='3' fill='%23292d35' /></svg>");
        width: 44px;
        height: 24px;
    }

    .form-check-input:checked[type=checkbox] {
        background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' ><circle r='3' fill='%23292d35' /></svg>");
        background-color: var(--bs-primary-500);
        border-color: var(--bs-primary-500);
    }

}

/* quote mark */
.quote-mark {
    font-size: 67.34px;
    font-weight: 900;
    font-family: 'Yekanbakh';
}


/* Dropdown Toggle Icon
========================================================================= */

.dropdown-toggle {

    &.show {
        &::after {
            content: "\e925";
        }
    }

    &::after {
        content: "\e91c";
        font-family: "iconsax" !important;
        display: inline-block;
        vertical-align: bottom;
        padding-right: 6px;
        border: none
    }

}

.dropdown-menu[data-bs-popper] {
    right: 0;
}


/* Buttons
========================================================================= */

.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white-500);
    --bs-btn-bg: var(--bs-primary-500);
    --bs-btn-border-color: var(--bs-primary-500);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-primary-600);
    --bs-btn-hover-border-color: var(--bs-primary-600);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-500);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-primary-500);
    --bs-btn-active-border-color: var(--bs-primary-500);
}

/* Main
========================================================================= */

.main-welcome {

    &__title {
        max-width: 530px;
    }

    #curveArrow {
        right: -130px;
        top: 50px;
    }
}

.ticker {
    background: linear-gradient(to right, #257CFF, #FFBE15);

    &__title {
        border-left: 1px solid #66708566;
    }

    .swiper-wrapper {
        transition-timing-function: linear;
    }

}

.why-choose-us {
    .direct-card {
        border: 1px solid var(--bs-gray-700);
    }
}

.direct-products {
    .direct-card {
        div img {
            max-width: 140px;
            max-height: 300px;
        }
    }
}

.main-video {
    &__icon {

        span[class^="icon-"],
        span[class*=" icon-"] {
            font-size: 52px;
        }
    }
}

.direct-tabs {
    &__btns {
        .collapsed {
            background-color: #292D35;
            border-color: #292D35;
            color: #667085 !important;
        }
    }
}

.customers {
    &__card {
        &__icon-wrapper {
            width: 70px;
            height: 70px;
        }
    }
}

.video-carousel {
    .swiper-wrapper {
        .swiper-slide {
            filter: saturate(0);
            transition: all 0.4s ease;
        }

        .swiper-slide:hover {
            filter: none;
        }
    }
}

.blog {
    &__card {
        &__image {

            position: relative;

            img {
                border-top-right-radius: 24px;
                border-top-left-radius: 24px;
            }

            &__icons {
                position: absolute;
                top: 33px;
                right: 24px;
                z-index: 2;
            }

            &__info {
                position: absolute;
                bottom: 24px;
                right: 24px;
                z-index: 2;
            }

            &__category {
                background: rgba(255, 190, 21, 0.20);
                backdrop-filter: blur(15px);
            }

            &__comments-no {
                background: rgba(102, 112, 133, 0.10);
                backdrop-filter: blur(15px);
            }
        }

        &__image::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0 0 0 / 30%);
            z-index: 1;
            border-top-right-radius: 24px;
            border-top-left-radius: 24px;
        }
    }
}

.main-contact-us {
    &__image {

        position: relative;

        &__text {
            max-width: 298px;
            border-radius: 118px;
            padding: 21px;
            position: absolute;

            &--female {
                right: 20px;
                bottom: 110px;
            }

            &--male {
                right: 65px;
                bottom: 25px;
            }

            p {
                line-height: 35.253px;
            }
        }

    }

    &__form {
        max-width: 375px;
    }
}

.direct-faqs {
    .accordion {

        .accordion-item {
            border-bottom: 1px solid #292D35;
        }

        .accordion-button::after {
            background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff' ><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' /></svg>");
            margin-right: auto;
            margin-left: 0;
        }
    }
}