/* Root
=========================================================================*/

/* fonts */

.font-yekanbakh {
    font-family: 'Yekanbakh';
}

.font-pinar {
    font-family: 'Pinar';
}

.font-poppins {
    font-family: 'Poppins';
}

/* section */

.section-title {
    &__icon {

        span[class^="icon-"],
        span[class*=" icon-"] {
            font-size: 52px;
        }
    }
}

/* lists */

ul {
    list-style: none;
    padding: 0;
}

/* divider */
.divider {
    width: 64px;
    height: 6px;
}

/* switch */
.form-switch {
    padding-left: 0;
    padding-right: 2.8em;

    .form-check-input,
    .form-check-input:focus {
        float: right;
        margin-right: -2.8em;
        box-shadow: none;
        background-color: var(--bs-gray-500);
        border-color: var(--bs-gray-500);
        background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' ><circle r='3' fill='%23292d35' /></svg>");
        width: 44px;
        height: 24px;
    }

    .form-check-input:checked[type=checkbox] {
        background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' ><circle r='3' fill='%23292d35' /></svg>");
        background-color: var(--bs-primary-500);
        border-color: var(--bs-primary-500);
    }

}


/* Dropdown Toggle Icon
========================================================================= */

.dropdown-toggle {

    &.show {
        &::after {
            content: "\e925";
        }
    }

    &::after {
        content: "\e91c";
        font-family: "iconsax" !important;
        display: inline-block;
        vertical-align: bottom;
        padding-right: 6px;
        border: none
    }

}

.dropdown-menu[data-bs-popper] {
    right: 0;
}


/* Buttons
========================================================================= */

.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white-500);
    --bs-btn-bg: var(--bs-primary-500);
    --bs-btn-border-color: var(--bs-primary-500);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-primary-600);
    --bs-btn-hover-border-color: var(--bs-primary-600);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-500);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-primary-500);
    --bs-btn-active-border-color: var(--bs-primary-500);
}

/* Main
========================================================================= */

.main-welcome {

    &__title {
        max-width: 530px;
    }

    #curveArrow {
        right: -130px;
        top: 50px;
    }
}

.ticker {
    background: linear-gradient(to right, #257CFF, #FFBE15);

    &__title {
        border-left: 1px solid #66708566;
    }

    .swiper-wrapper {
        transition-timing-function: linear;
    }

}

.why-choose-us {
    .direct-card {
        border: 1px solid var(--bs-gray-700);
    }
}

.direct-products {
    .direct-card {
        div img {
            max-width: 140px;
            max-height: 300px;
        }
    }
}

.main-video {
    &__icon {

        span[class^="icon-"],
        span[class*=" icon-"] {
            font-size: 52px;
        }
    }
}

.direct-tabs {
    &__btns {
        .collapsed {
            background-color: #292D35;
            border-color: #292D35;
            color: #667085 !important;
        }
    }
}